<main id="main">
    <% posts.forEach(function(post) { %>
        <article class="thumb">
            <% if (post.feature) { %>
                <a href="<%= post.feature %>" class="image"><img src="<%= post.feature %>" /></a>
            <% } %>
            <h2><%= post.title %></h2>
            <%- post.content %>
        </article>
    <% }); %>
</main>