<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>页面跳转 Page forwarding</title>
    <meta http-equiv="Cache-Control: no-cache, no-store, must-revalidate">
    <meta http-equiv="refresh" content="0;url=<%= themeConfig.domain %>" />
    <style>body, html{background:#303030;color:#fff;}a{text-decoration: none;color:#2196f3;transition: all .25s;}</style>
</head>
<body>

<p>你不该来到这，现在 <a href="<%= themeConfig.domain %>">请点此处</a> 回到正轨。<br>This is weird, <a href="<%= themeConfig.domain %>">click here</a> Back to home-page.</p>

</body>
</html>