<!DOCTYPE HTML>
<!--
	Multiverse by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="zh-cn">
<head>
    <%- include('includes/head', { siteTitle: themeConfig.siteName }) %>
</head>
<body class="is-preload">

<!-- 外封 -->
<div id="wrapper">

    <!-- 页眉 -->
    <%- include('includes/header') %>

    <!-- 主要内容 -->
    <%- include('includes/post-list') %>

    <!-- 页脚 -->
    <%- include('includes/footer') %>

</div>


<!-- 脚本 -->
<script src="media/scripts/jquery.min.js"></script>
<script src="media/scripts/jquery.poptrox.min.js"></script>
<script src="media/scripts/browser.min.js"></script>
<script src="media/scripts/breakpoints.min.js"></script>
<script src="media/scripts/util.js"></script>
<script src="media/scripts/main.js"></script>

</body>
</html>